header{
    .redesheader{
        padding: 10px;
        background-color: #ffb84c;
        display: flex;
        align-items:center;
        justify-content:space-between
    }
    .headers{
        width: 100%;
    }
    
}