header{
    .redesheader{
        padding: 10px;
        background-color: #ffb84c;
        display: flex;
        align-items:center;
        justify-content:space-between
    }
    .headers{
        width: 100%;
    }
    .nav-item{
        :hover{
            background-color:burlywood ;
            border-radius: 5%;
            -webkit-border-radius: 5%;
            -moz-border-radius: 5%;
            -ms-border-radius: 5%;
            -o-border-radius: 5%;
            color:antiquewhite;
        }
    }
    .navbar-brand{
        &:hover{
            background-color:burlywood ;
            border-radius: 5%;
            -webkit-border-radius: 5%;
            -moz-border-radius: 5%;
            -ms-border-radius: 5%;
            -o-border-radius: 5%;
            color:antiquewhite;
        }
    }
}